
@import 'tailwindcss';

html,
body,
#root {
	height: 100%;
}

html {
	font-synthesis: none;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-feature-settings: 'kern' 1;
	font-kerning: normal;

	scroll-behavior: smooth;
}

body {
	margin: 0;
	overflow: hidden;
	overflow-wrap: break-word;
	word-break: normal;
	hyphens: auto;
	text-rendering: auto;
	font-variant-numeric: tabular-nums;
}

#root {
	overflow-y: auto;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
